<?xml version="1.0" encoding="UTF-8"?> 
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
 <plist version="1.0"> 
 <dict> 
  <key>items</key> 
  <array> 
   <dict> 
    <key>assets</key> 
    <array> 
     <dict> 
      <key>kind</key> 
      <string>software-package</string> 
      <key>url</key>
         <string>http://202.103.124.85:8081/group1/M00/00/02/hrAB01d2MteAKVy6ACTGjbzmh4M538.ipa</string> 
     </dict>
    </array>
    <key>metadata</key> 
    <dict>
    <key>bundle-identifier</key> 
    <string>com.chinatelecom.hunan.itsm</string> 
     <key>bundle-version</key> 
     <string>1.0</string> 
     <key>kind</key> 
     <string>software</string> 
     <key>title</key> 
     <string>IT网管待办</string> 
    </dict> 
   </dict> 
  </array> 
 </dict> 
 </plist> 
